
$green-dark: #004E36;
$green: #006F46;
$green-light: #319F52;
$green-lighter: #83C597;

$grey: #4A4A4A;
$grey-dark: #2E2E2E;
$grey-med: #9B9B9B;
$grey-light: #DEDEDE;
$grey-lightest: #EFF2F3;

$red: #FF2D2D;
$error: #9D2100;
$error-light: #D16F52;
$error-dark: #890D00;

$blue: #4BBADD;
$blue-dark: #0E7EA0;
$blue-light: #B7E4F1;

$purple: #62247f;
$purple-dark: #4c036e;
$purple-light: #a43dd4;

$orange: #F8981D;
$orange-dark: #D77000;
$orange-light: #FBC177;

$gold: #F7CD57;
$gold-dark: #CEA42F;
$gold-light: #FAE19A;

$bp: #A0D298;
$bp-dark: #63995D;
$bp-light: #D9EDD6;

